# Archivo de variables de entorno (Crea un archivo igual llamado .env)
PORT=3001

# Obtén estos valores desde el Dashboard de Supabase (Project Settings -> API)
SUPABASE_URL=tu_supabase_url_aqui
SUPABASE_KEY=tu_supabase_anon_key_aqui
