# Archivo de variables de entorno (Crea un archivo igual llamado .env)
PORT=3001

# Obtén estos valores desde el Dashboard de Supabase (Project Settings -> API)
NEXT_PUBLIC_SUPABASE_URL=https://gxfnwgdqndmwfrssnlqe.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_ggQm9wnaUhI3gGqYyeZjBA_1dLouUtA

# Secreto para firmar tokens JWT (puede ser cualquier texto largo)
JWT_SECRET=tu_secreto_jwt_aqui
